
.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
  }
  
  .link, h2 {
      letter-spacing: 0.05em;
      font-weight: bold;
      padding: 20px;
      margin: 0;
      font-size: 20px;
      line-height: normal;
      font: normal normal normal 20px/1.4em roboto-bold, roboto, sans-serif;
  }
  
  .link { 
      text-decoration: none;
      color: rgb(18, 61, 148);
  }
  
  h2 { 
      color: #FF4040;
  }
  nav ul {
    list-style: none;
    font-size: 20px;
    margin: 0;
    padding: 25px;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
    padding: 20px;
  }
  nav li a:hover{
    color: orange;
}
  
  nav a {
    text-decoration: none;
    color: #333;
  }
  
  .sobre-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
  }
  
  .sobre-text {
    padding: 90px;
    font: normal normal normal 20px/1.4em roboto-bold, roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-right: 20px; 
    max-width: 500px;
  }
  
  .sobre-text h3 {
    margin: 0;
    padding: 20px;
    font-size: 40px;
    line-height: normal;
    color: rgb(18, 61, 148);

}
  
  
  .sobre-text p {
    margin: 10px 0; 
  }
  
  .sobre-image {
    height: auto; 
    border-radius: 10px; 
  }