
.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.link, h2 {
    letter-spacing: 0.05em;
    font-weight: bold;
    padding: 20px;
    margin: 0;
    font-size: 20px;
    line-height: normal;
    font: normal normal normal 20px/1.4em roboto-bold, roboto, sans-serif;
}

.link { 
    text-decoration: none;
    color: rgb(18, 61, 148);
}

h2 { 
    color: #FF4040;
}
nav ul {
  list-style: none;
  font-size: 20px;
  margin: 0;
  padding: 25px;
  display: flex;
}

nav li {
  margin-right: 20px;
  padding: 20px;
}

nav li a:hover{
    color: orange;
}

nav a {
  text-decoration: none;
  color: #333;
}

.tela-central {
    display: flex;
    align-items: center;
    justify-content: center;
}
.botao {
    background-color: rgb(253, 245, 254);
    display: flex;
    align-items: center;
    justify-content: center;
}
.botao  a{
    margin-top: 20px;
    margin-bottom: 20px;
    font: normal normal normal 20px/1.4em roboto-bold, roboto, sans-serif;
    font-weight: bold;
    font-size: 24px;
    padding: 20px 35px;
    border: solid 1px #FF4040;
    border-radius: 35px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
    box-sizing: border-box;
    color: white;
    background-color: #FF4040;
    text-decoration: none;

}

.texto-h2 {
    color: rgb(18, 61, 148);
    background-color: rgb(253, 245, 254);
    font: normal normal normal 20px/1.4em roboto-bold, roboto, sans-serif;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h3, h4{
    margin: 10px;
}

h4 { 
    font-weight: 200;
    font-size: 25px;
}